.contactPage {
    position: relative;
    max-width: 1280px;
    height: 708px;
    margin: 0 auto;
    background-repeat: no-repeat;
    background-image: url("./../../assets/backWeb.png");
}

.formContainer {
    position: absolute;
    background-color: #FCFBFA;
    top: 15%;
    left: 15%;
    border-radius: 16px;
    padding: 48px;
    display: flex;
    flex-direction: column;
}

.inputs {
    display: flex;
    flex-direction: row;
}