.inputElement {
    border: 4px double #E5E7EB;
    background-image: url("./../../assets/inputName.svg");
    background-repeat: no-repeat;
    background-position: 24px;
    border-radius: 16px;
    width: 324px;
    height: 55px;
    outline:none;

}

.inputElement[type = text] {
    padding-left: 54px;

}