.years {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 150%;

    width: 152px;

}

.listJob {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 150%;
}

.listPlace {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 150%;
}

.listElement {
    display: flex;
    flex-direction: row;
    margin-bottom: 50px;
    border-bottom: 1px solid #E5E7EB;
}

.listElement:last-child {
    border-bottom: none;
}

