.menuList {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
}

.menuListElement {
    margin-right: 24px;
}

.menuListElement:last-child {
    margin-right:0;
}


.navigator {
    height: 63px;
    max-width: 1280px;
    /*margin: 0 auto;*/
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: auto 85px;


}

.logoImage {
    height: 25px;
}

.menuListElement.active {
    color: #7E3AF2;
}
